*{
  --main-bg-color: #282828;
  --side-bg-color: #414141;
  --font-color: rgb(176, 176, 176);
  --heading-color: white;
  --decoration-color: rgb(205, 9, 9);
}

.App {
  width: 210mm;
  height: 297mm;
  box-sizing: border-box;
  display: flex;
  color: var(--font-color);
}

.App .icon{
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.App .hidden{
  display:none
}

.App p{
  margin: 0;
}